[submodule "addons/imgui-godot"]
	path = addons/imgui-godot
	url = https://github.com/CSharpGodotTools/imgui-godot-csharp
[submodule "Framework"]
	path = Framework
	url = https://github.com/CSharpGodotTools/Framework
