# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# Exclude addons from intellisense
[addons/**/*.cs]
generated_code = true
dotnet_analyzer_diagnostic.severity = none

# Godot Documentation says to use LF line endings
[*.cs]
end_of_line = lf
insert_final_newline = true

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# Allow implicit casting in foreach loop (Explicit casting is too verbose)
dotnet_diagnostic.IDE0220.severity = none

# Allow naming rule violations and unused params because of Godot generated signal methods
dotnet_diagnostic.IDE1006.severity = none
dotnet_diagnostic.IDE0060.severity = none

# Allow incorrect namespace structure paths (IDE keeps suggesting to put Scripts in namespace path which is undesired)
dotnet_diagnostic.IDE0130.severity = none

# Stop suggesting to make everything static due to Godot export members not being allowed to be static
dotnet_diagnostic.CA1822.severity = none

# IDE is suggesting to use readonly modifier on [Export] fields but you can't do this
dotnet_diagnostic.IDE0044.severity = none

# Stop warning about user defined suppressions
dotnet_diagnostic.IDE0079.severity = none

# Stop GC.SuppressFinalize(this) warnings
dotnet_diagnostic.CA1816.severity = none

# Do not simplify XYZ.ToArray() to [.. XYZ] (I do not understand it)
dotnet_diagnostic.IDE0305.severity = none

# Do not use range operator (I do not understand it)
dotnet_diagnostic.IDE0057.severity = none
