[submodule "Template/GodotUtils"]
	path = Template/GodotUtils
	url = https://github.com/CSharpGodotTools/GodotUtils
[submodule "addons/imgui-godot"]
	path = addons/imgui-godot
	url = https://github.com/CSharpGodotTools/imgui-godot-csharp
[submodule "Genres/3D FPS"]
	path = Genres/3D FPS
	url = https://github.com/CSharpGodotTools/template-genre-3D-FPS
[submodule "Genres/2D Top Down"]
	path = Genres/2D Top Down
	url = https://github.com/CSharpGodotTools/template-genre-2D-Top-Down
[submodule "Genres/2D Platformer"]
	path = Genres/2D Platformer
	url = https://github.com/CSharpGodotTools/template-genre-2D-Platformer
