[submodule "addons/imgui-godot"]
	path = addons/imgui-godot
	url = https://github.com/CSharpGodotTools/imgui-godot-csharp
[submodule "addons/Framework/GodotUtils"]
	path = addons/Framework/GodotUtils
	url = https://github.com/CSharpGodotTools/GodotUtils
