# Godot
.godot/*
Exported/*
.import/
export.cfg
export_presets.cfg

# Addons
addons/**/*.template_debug.x86_64.dll

# GdUnit4
TestResults/

# Mono-specific
.mono/
data_*/
mono_crash.*.json
*.DotSettings.user

# Visual Studio
.vs/*
Properties/*

# Visual Studio Code
.vscode/*

# Rider
.idea/*

# ENet
ENet-CSharp.dll

libenet.so
enet.so

libenet.dylib
enet.dylib

# Mac OS Files
.DS_Store

# Include these files
!**/*.gdignore
!.vscode/settings.json
!.vscode/extensions.json

# Make sure this file is ignored
.godot/.gdignore
