<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="Template/Framework/Libraries/.packages" />
  </config>
  <packageSources>
    <add key="LocalNugets" value="Template/Framework/Libraries" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="LocalNugets">
      <package pattern="PacketGen" />
      <package pattern="Template.OptionsGen" />
      <package pattern="GodotUtils" />
      <package pattern="Visualize" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
