# https://github.com/marketplace/actions/gdunit4-test-runner-action
name: GdUnit4 Tests
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: List repo contents
        run: |
          pwd
          ls -R Framework
      
      - name: Debug repo layout
        run: |
          echo "Current dir: $(pwd)"
          find . -type d | grep Framework/Libraries || echo "No Framework/Libraries dir found"
      
      - name: Add local NuGet source
        run: |
          dotnet nuget add source "$GITHUB_WORKSPACE/Framework/Libraries" --name LocalNugets
      
      - uses: godot-gdunit-labs/gdUnit4-action@v1
        with:
          godot-version: '4.6'
          godot-status: 'stable'
          godot-net: true
          paths: 'res://Setup/Testing'
          console-verbosity: 'normal'
