# https://github.com/marketplace/actions/gdunit4-test-runner-action
name: GdUnit4 Tests
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: godot-gdunit-labs/gdUnit4-action@v1
        with:
          dotnet-version: 'net9.0'
          godot-version: '4.2.1'
          godot-status: 'stable'
          godot-net: true
          paths: 'res://Setup/Testing'
          console-verbosity: 'normal'
